# Python
__pycache__/
*.pyc

# C/C++
*.o
*.exe

# Java
# Compiled class files
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.ear

# JVM crash logs
hs_err_pid*

# IDE dosyaları
.vscode/
.idea/
*.swp
